src/neutron_event_analyzer.egg-info
build
src/neutron_event_analyzer/analyser.py
notebooks/.ipynb_checkpoints
data
empir
export
**/__pycache__/
**/*.pyc
**/*.pyo
archive
tests/test_data/test_cog_calculation
tests/test_data/test_*
notebooks/*.joblib
.claude
